* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

nav {
  float: left;
  width: 20%;
  position: fixed;
  height: 100%;
  top: 0px;
  left: 0;
  overflow: hidden;
  background-color: #1fefd3;
  padding-left: 20px;
}
.left-nav a {
  text-decoration: none;
  color: black;
  display: block;
}
.left-nav a:hover {
  background-color: #a32824;
  color: white;
}

.details {
  float: right;
  width: 80%;
  padding: 15px;
}

.contact-me a {
  text-decoration: none;
  color: black;
}

footer {
  clear: both;
  height: 100px;
  margin-top: 30px;
  text-align: center;
  background-color: honeydew;
}
footer a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
@media screen and (max-width: 600px) {
  .details {
    width: 100%;
  }
}
